body
{
    background-color:#E4E4E4;
    margin:0;
}
#top
{
    padding-left:20%;
    padding-right:20%;
    background:#1B2023;
    height:50px;
}
#logo
{
    float:left;
}
#tab
{
    float:right;
}
.right
{
    float:right;
}
.tab_text
{
    float:left;
    margin-left:10px;
    font-size:10px;
}
#tab_logo
{
    float:left;
}
.tab_upper
{
    height:30px;
}
#tab_valid
{
    height:3px;
    background-color:#EB543E;
    margin:0px;
    border:0;
}
.tab_select
{
    float:right;
    margin-right:10px;
}
#content
{
    padding-left:20%;
    padding-right:20%;
    padding-top:10px;
    height:100%;
}
#left-side
{
    float:left;
}
#show-all-score
{
    height:50px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    background-color:#FFFFFF;
}
.show-school-name
{
    background-color:#199EA7;
    text-align:center;
}
.show-score
{
    background-color:#38BEC9;
    text-align:center;
}
#show-kaist-score
{
    float:left;
}
#show-postech-score
{
    float:left;
    margin-left:10px;
}
#ended-event-count
{
    text-align:center;
    background-color:#F5F5F5;
}
#right-side
{
    float:right;
    margin-left:10px;
}
