/* COMMON STYLESHEET */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); /* for nanum gothic font */

*{
	font-family: "Roboto", "Nanum Gothic", sans-serif;
	display:block;
	overflow:hidden;
	margin:0;
	padding:0;
}
script, title, style{
	display:none;
}
a{
	text-decoration:none;
}
html{
	overflow-y:scroll;
}
body{
	width:100%;
	height:100%;
	background:#e4e4e4;
	overflow:auto;
        padding-bottom:40px;
}
#wrapper{
	width:960px;
	margin:0 auto;
}
.test{
	font-size:40px;
	color:orangered;
	background:blue;
}
#aside{
	width:276px;
	margin-top:24px;
	margin-right:24px;
	float:left;
}
#content{
	width:660px;
	margin-top:24px;
	float:right;
}

/* HEADER */

header{
	width:100%;
	height:70px;
	background:#1b2023;
}
header *{
	font-family:"Roboto Condensed", "Nanum Gothic", sans-serif;
ans-serif;
	text-transform:uppercase;
}
header #header-content{
	width:960px;
	height:100%;
	margin:0 auto;
}
header #logo{
	float:left;
	height:24px;
	margin-top:23px;
	display:inline-block;
        padding-bottom:23px;
}
header #logo.sel{
        background:transparent url("/media/res/img_home.png") 131px bottom no-repeat;
}
header #logo a#nav-home{
	margin-top:-1px;
	font-size:24px;
	line-height:24px;
	font-weight:400;
	color:#fff;
	padding-left:48px;
	background:transparent url("/media/res/img_logo.png") left 1px no-repeat;
	float:left;
	margin-right:10px;
}
header #logo span{
	font-size:0;
	width:56px;
	height:24px;
	background:transparent url("/media/res/img_onair.png") top left no-repeat;
}
header #nav{
	float:right;
}
header #nav a{
	float:left;
	margin-left:40px;
	color:#fff;
	font-size:18px;
	line-height:22px;
	font-weight:300;
	height:24px;
	padding-left:34px;
	margin-top:23px;
	padding-bottom:23px;
}
header #nav a:hover{
	box-shadow:inset 0 -4px 0 #ed462f;
	-moz-box-shadow:inset 0 -4px 0 #ed462f;
	-webkit-box-shadow:inset 0 -4px 0 #ed462f;
}
header #nav a#nav-info{
	background:transparent url("/media/res/icon_nav_info_nor.png") top left no-repeat;
}
header #nav a#nav-schedule{
	background:transparent url("/media/res/icon_nav_schedule_nor.png") top left no-repeat;
}
header #nav a#nav-map{
	background:transparent url("/media/res/icon_nav_map_nor.png") top left no-repeat;
}
header #nav a#nav-video{
	background:transparent url("/media/res/icon_nav_video_nor.png") top left no-repeat;
}
header #nav a#nav-info.sel{
	background:transparent url("/media/res/icon_nav_info_sel.png") top left no-repeat;
}
header #nav a#nav-schedule.sel{
	background:transparent url("/media/res/icon_nav_schedule_sel.png") top left no-repeat;
}
header #nav a#nav-map.sel{
	background:transparent url("/media/res/icon_nav_map_sel.png") top left no-repeat;
}
header #nav a#nav-video.sel{
	background:transparent url("/media/res/icon_nav_video_sel.png") top left no-repeat;
}
header #nav a.sel{
	box-shadow:inset 0 -4px 0 #ed462f;
	-moz-box-shadow:inset 0 -4px 0 #ed462f;
	-webkit-box-shadow:inset 0 -4px 0 #ed462f;
}

/* #aside */

#aside #total-score{
	width:100%;
	height:210px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background:#fff;
}
#aside #total-score section{
	width:120px;
	height:116px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#37bec9;
	float:left;
	margin-left:12px;
	margin-top:20px;
}
#aside #total-score section *{
	font-family:"Roboto Condensed", "Nanum Gothic", sans-serif;
}
#aside #total-score section h2{
	width:100%;
	height:30px;
	padding-top:6px;
	font-size:20px;
	line-height:20px;
	font-weight:400;
	color:#aae0e4;
	text-align:center;
	background:#199ea7;
}
#aside #total-score section p{
	width:100%;
	font-size:56px;
	font-weight:700;
	color:#fff;
	line-height:56px;
	text-align:center;
	margin-top:9px;
}
#aside #total-score section.process{
	width:100%;
	height:54px;
	clear:both;
	border:none;
	background:#f5f5f5;
	margin-left:0;
}
#aside #total-score section.process h2{
	display:none;
}
#aside #total-score section.process p{
	width:100%;
	font-family:"Roboto", "Nanum Gothic", sans-serif;
	font-size:20px;
	font-weight:300;
	line-height:20px;
	color:#bdbdbd;
	margin-top:15px;
}

/* OPTION */

#aside #option{
	margin-top:16px;
}

/* CONTENT */

#content{
	padding-bottom:40px;
}

/* GOD OF THIS SITE */

#aside #creators{
	margin-top:16px;
	padding:20px 12px;
	background:#fff;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#aside #creators h2{
	font-family:"Roboto Condensed", "Nanum Gothic", sans-serif;
	font-size:24px;
	font-weight:400;
	color:#525455;
	display:inline-block;
}
#aside #creators h2 em{
        display:inline-block;
}
#aside #creators h2 em a{
	color:#ed462f;
	font-family:"Roboto Condensed", "Nanum Gothic", sans-serif;
	font-size:24px;
	font-weight:400;
	font-style:normal;
	display:inline-block;
}
#aside #creators h2 em a:hover{
        color:#eda32f;
}
#aside #creators p{
	font-family:"Roboto", "Nanum Gothic", sans-serif;
	font-size:18px;
	font-weight:300;
	line-height:24px;
	padding-left:32px;
	margin-top:6px;
	color:#828586;
}
#aside #creators div{
	font-family:"Roboto", "Nanum Gothic", sans-serif;
	font-size:18px;
	font-weight:300;
	line-height:24px;
	padding-left:32px;
	margin-top:6px;
	color:#828586;
}
#aside #creators .time *{
	display:inline-block;
}
#aside #creators .time{
	background:url("/media/res/icon_event_time.png") left top no-repeat;
}
#aside #creators .map{
	background:url("/media/res/icon_event_map.png") left top no-repeat;
}
#aside #creators .developers{
	background:url("/media/res/icon_god_developer.png") left top no-repeat;
}
#aside #creators .designers{
	background:url("/media/res/icon_god_designer.png") left top no-repeat;
}
#aside #creators .list{
	display:none;
	clear:both;
}
#aside #creators .list li{
	display:inline-block;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	height:32px;
	background:#f5f5f5;
	color:#a1a0a0;
	font-family:"Roboto", "Nanum Gothic", sans-serif;
	font-size:18px;
	line-height:32px;
	font-weight:300;
	padding:0 10px;
	margin-top:6px;
}
#aside #creators .list a{
	color:#a1a0a0;
	font-family:"Roboto", "Nanum Gothic", sans-serif;
	font-size:18px;
	line-height:32px;
	font-weight:300;
}
#aside #creators .list a:hover{
	color:#ed462f;
}
#aside #creators div span{
	float:left;
}
#aside #creators div button{
	font-size:0;
	width:24px;
	height:24px;
	border:none;
	float:right;
	cursor:pointer;
	display:block;
}
#aside #creators div button.flip-hide{
	background:url("/media/res/btn_hide_nor.png") left top no-repeat;
}
#aside #creators div button.flip-hide:hover{
	background:url("/media/res/btn_hide_sel.png") left top no-repeat;
}
#aside #creators div button.flip-show{
	background:url("/media/res/btn_show_nor.png") left top no-repeat;
}
#aside #creators div button.flip-show:hover{
	background:url("/media/res/btn_show_sel.png") left top no-repeat;
}
