/* OPTION */

#option section.today-schedule{
	width:100%;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background:#fff;
	padding-bottom:14px;
}
#option section.today-schedule h2{
	font-family:"Roboto Condensed", sans-serif;
	font-size:40px;
	font-weight:400;
	line-height:40px;
	color:#737374;
	text-align:center;
	margin:17px auto;
}
#option section.today-schedule .list li{
	width:220px;
	height:40px;
	background:#f5f5f5 url("/media/res/img_ball_nor.png") 12px 50% no-repeat;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin:0px auto 6px auto;
	padding-left:32px;
}
#option section.today-schedule .list li h4{
	font-family:"Roboto", sans-serif;
	font-size:20px;
	line-height:39px;
	font-weight:300;
	color:#a1a0a0;
	text-transform:uppercase;
	float:left;
	max-width:164px;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#option section.today-schedule .list li p{
	font-family:"Roboto", sans-serif;
	font-size:16px;
	line-height:39px;
	font-weight:300;
	padding-right:12px;
	color:#ed462f;
	float:right;
}
#option section.today-schedule .list li.now{
	background:#f5f5f5 url("/media/res/img_ball_sel.png") 12px 50% no-repeat;
}

/* CONTENT */

/* CONTENT - LIVE */

#content article.live{
	padding:20px 16px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background:#fff;
	margin-bottom:16px;
}
#content article.live .status{
	font-size:0;
	background:transparent url("/media/res/img_live.png") left top no-repeat;
	width:43px;
	height:24px;
	float:left;
}
#content article.live .time{
	font-size:18px;
	line-height:22px;
	color:#919394;
	font-weight:300;
	padding-left:10px;
}
#content article.live .event{
	padding-top:20px;
	clear:both;
}
#content article.live .event a{
	font-family:"Roboto Condensed", sans-serif;
	display:inline-block;
	font-size:36px;
	line-height:36px;
	color:#525455;
	font-weight:400;
	text-transform:uppercase;
	padding-right:18px;
	background:transparent  url("/media/res/img_anchor.png") right 50% no-repeat;
}
#content article.live .comment{
	font-family:"Roboto", sans-serif;
	font-size:20px;
	line-height:24px;
	color:#727272;
	font-weight:300;
	padding-top:20px;
}
#content article.live section h4{
	font-family:"Roboto Condensed", sans-serif;
}
#content article.live .kaist-score{
	float:left;
	margin-top:20px;
	padding-right:26px;
	background:transparent url("/media/res/img_vs.png") right 50% no-repeat;
}
#content article.live .kaist-score h4{
	width:154px;
	height:64px;
	text-align:center;
	background:#f2f2f2;
	border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
	box-shadow:inset -8px 0 0 #ebebeb;
	-moz-box-shadow:inset -8px 0 0 #ebebeb;
	-webkit-box-shadow:inset -8px 0 0 #ebebeb;
	float:left;
	font-size:24px;
	line-height:62px;
	color:#00777f;
	font-weight:400;
	margin-top:38px;
}
#content article.live .kaist-score p{
	width:140px;
	height:140px;
	text-align:center;
	border-radius:3px;
	background:#f5f5f5;
	font-size:64px;
	line-height:130px;
	font-weight:700;
	color:#f0a922;
}
#content article.live .postech-score{
	float:right;
	margin-top:20px;
}
#content article.live .postech-score h4{
	width:154px;
	height:64px;
	text-align:center;
	background:#f2f2f2;
	border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
	box-shadow:inset 8px 0 0 #ebebeb;
	-moz-box-shadow:inset 8px 0 0 #ebebeb;
	-webkit-box-shadow:inset 8px 0 0 #ebebeb;
	font-size:24px;
	line-height:62px;
	color:#f05a46;
	font-weight:400;
	float:right;
	margin-top:38px;
}
#content article.live .postech-score p{
	width:140px;
	height:140px;
	text-align:center;
	border-radius:3px;
	background:#f5f5f5;
	font-size:64px;
	line-height:130px;
	font-weight:700;
	color:#f0a922;
}
#content article.live section button{
	font-size:0;
	width:24px;
	height:24px;
	border:none;
	float:right;
	cursor:pointer;
}
#content article.live section button.flip-hide{
	background:transparent url("/media/res/btn_hide_nor.png") left top no-repeat;
}
#content article.live section button.flip-show{
	background:transparent url("/media/res/btn_show_nor.png") left top no-repeat;
}
#content article.live section button.flip-hide:hover{
	background:transparent url("/media/res/btn_hide_sel.png") left top no-repeat;
}
#content article.live section button.flip-show:hover{
	background:transparent url("/media/res/btn_show_sel.png") left top no-repeat;
}
#content article.live .info{
	clear:both;
}
#content article.live .map{
	padding-top:32px;
	clear:both;
	width:100%;
}
#content article.live .map h4{
	float:left;
	padding-left:32px;
	background:transparent url("/media/res/icon_event_map.png") left top no-repeat;
	font-family:"Roboto", sans-serif;
	font-size:18px;
	font-weight:300;
	color:#696b6c;
	line-height:24px;
}
#content article.live .map p{
	padding-top:16px;
	clear:both;
}
#content article.live .map img{
	width:100%;
	height:280px;
	border-radius:3px;
	border:0;
}
#content article.live .players{
	padding-top:30px;
	clear:both;
	width:100%;
}
#content article.live .players h4{
	float:left;
	padding-left:32px;
	background:transparent url("/media/res/icon_event_players.png") left top no-repeat;
	font-family:"Roboto", sans-serif;
	font-size:18px;
	font-weight:300;
	color:#696b6c;
	line-height:24px;
}

/* CONTENT - LIST */

#content .event-list .event-item{
	margin-bottom:16px;
	padding:20px 16px;
	background:#fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#content .event-list .event-item h2 a{
	font-family:"Roboto Condensed", sans-serif;
	font-size:24px;
	font-weight:400;
	color:#525455;
	display:inline-block;
	padding-right:18px;
	background:transparent  url("/media/res/img_anchor.png") right 50% no-repeat;
}
#content .event-list .event-item.finished h2 a{
	color:#b5b6b6;
}
#content .event-list .event-item .info{
	float:left;
}
#content .event-list .event-item .info p{
	font-family:"Roboto", sans-serif;
	font-size:18px;
	font-weight:300;
	color:#828586;
	padding-left:32px;
}
#content .event-list .event-item .time{
	margin-top:12px;
	background:transparent url("/media/res/icon_event_time.png") left top no-repeat;
}
#content .event-list .event-item .map{
	margin-top:6px;
	background:transparent url("/media/res/icon_event_map.png") left top no-repeat;
}
#content .event-list .event-item .score{
	float:right;
	margin-top:12px;
}
#content .event-list .event-item .score p{
	text-align:center;
	float:left;
	margin-left:12px;
	width:80px;
	height:54px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#f5f5f5;
	font-family:"Roboto", sans-serif;
	font-weight:400;
	font-size:36px;
	line-height:54px;
}
#content .event-list .event-item .score p.kaist{
	color:#00777f;
}
#content .event-list .event-item .score p.postech{
	color:#f05b47;
}
