/* OPTION */

#option section.today-schedule{
	width:100%;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background:#fff;
	padding-bottom:14px;
}
#option section.today-schedule h2{
	font-family:"Roboto Condensed", sans-serif;
	font-size:40px;
	font-weight:400;
	line-height:40px;
	color:#737374;
	text-align:center;
	margin:17px auto;
}
#option section.today-schedule .list li{
	width:220px;
	height:40px;
	background:#f5f5f5 url("/media/res/img_ball_nor.png") 12px 50% no-repeat;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin:0px auto 6px auto;
	padding-left:32px;
}
#option section.today-schedule .list li h4{
	font-family:"Roboto", sans-serif;
	font-size:20px;
	line-height:39px;
	font-weight:300;
	color:#a1a0a0;
	float:left;
}
#option section.today-schedule .list li p{
	font-family:"Roboto", sans-serif;
	font-size:16px;
	line-height:39px;
	font-weight:300;
	padding-right:12px;
	color:#ed462f;
	float:right;
}
#option section.today-schedule .list li.now{
	background:#f5f5f5 url("/media/res/img_ball_sel.png") 12px 50% no-repeat;
}

/* CONTENT */

#content article.live{
	padding:20px 16px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background:#fff;
}
#content article.live .status{
	font-size:0;
	background:transparent url("/media/res/img_live.png") left top no-repeat;
	width:43px;
	height:24px;
	float:left;
}

