/* block right */
.map-field
{
    background-color: #D8D8D8;
    margin: 10px;
}
.map-field-zoomed{
    height:300px;
}

.map-title
{
    padding: 10px;
}

.map-image
{
    background-color: #FFFFFF;
    padding: 10px;
    position: relative;
    /* placeholding width and height */
    height: 480px;
}

.map-image-full{
    background:#fff url('/media/res/map.png') 0 0 no-repeat;
}

.map-image-zoomed{
    background:#fff url('/media/res/map_main_field.png') 0 0 no-repeat;
}

.map-marker
{
    position: absolute;
}

.map-marker-blue
{
    display:none;
}

#map-marker-main_field
{
    left: 543px;
    top: 350px;
}

#map-marker-sports_complex
{
    left: 310px;
    top: 210px;
}

#map-marker-sub_field
{
    left: 255px;
    top: 210px;
}

#map-button
{
    float: right;
    position: absolute;
    margin: 5px;
    bottom: 0px;
    right: 0px;
}


/* block leftdown */
#event-list-pane
{
    background-color: #FFFFFF;
    padding: 10px;
}

#event-list-title
{

}

.event-item
{
    background-color: #E8E8E8;
    padding: 10px;
    margin-top: 5px;
    color: #C8C8C8;
}
