/* block right */
.map-field
{
    background-color: #D8D8D8;
    margin: 10px;
}

.map-title
{
    padding: 10px;
}

.map-image
{
    background-color: #FFFFFF;
    padding: 10px;
    position: relative;
    /* placeholding width and height */
    height: 480px;
}

.map-image-full{
    background:#fff url('/media/res/map.png') 0 0 no-repeat;
}

.map-marker
{
    position: absolute;
}

.map-marker-blue
{
    display:none;
}

#map-marker-main_field
{
    left: 543px;
    top: 350px;
}

#map-marker-sports_complex
{
    left: 310px;
    top: 210px;
}

#map-marker-sub_field
{
    left: 255px;
    top: 210px;
}
#map-marker-main_building
{
    left: 262px;
    top: 295px;
}

#map-button
{
    float: right;
    position: absolute;
    margin: 5px;
    bottom: 0px;
    right: 0px;
}


/* block leftdown */
#event-list-pane
{
    background-color: #ffffff;
    padding-top: 12px;
    padding-bottom:20px;
    padding-left:12px;

}
.map-click-img-active
{
    float:right;
    margin-right:5px;
    background: transparent url("/media/res/img_active.png") top left no-repeat;
    width: 15px;
    height: 12px;
    margin-top:14px;
}

.map-click-img
{
    float:right;
    margin-right:5px;
    background: transparent url("/media/res/img_inactive.png") top left no-repeat;
    width: 15px;
    height: 12px;
    margin-top:14px;
}
   
#event-list-title
{
    font-family:"Roboto Condensed", sans-serif;
    font-size:24px;
    font-weight:400;
    color:#737374;
}

.event-item
{
    width: 243px;
    margin-top:5px;
    padding-left: 10px;
    background-color: #f5f5f5;
    height: 40px;
    line-height: 40px;
    text-align:left;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: "Roboto", serif;
    float:left;
    font-weight: 300;
    color:#a1a0a0; 
    font-size:20px;
   
}
