/* block right */
.map-field
{
    background-color: #D8D8D8;
    margin: 10px;
}

.map-title
{
    padding: 10px;
}

.map-image
{
    background-color: #FFFFFF;
    padding: 10px;
    position: relative;
    /* placeholding width and height */
    height: 480px;
}

.map-marker
{
    position: absolute;
}

#map-marker-main_field
{

}

#map-marker-sports_complex
{

}

#map-marker-sub_field
{

}

#map-button
{
    float: right;
    position: absolute;
    margin: 5px;
    bottom: 0px;
    right: 0px;
}


/* block leftdown */
#event-list-pane
{
    background-color: #FFFFFF;
    padding: 10px;
}

#event-list-title
{

}

.event-item
{
    background-color: #E8E8E8;
    padding: 10px;
    margin-top: 5px;
    color: #C8C8C8;
}
