.day-field
{
    background-color: #FFFFFF;
    padding-left:16px;
    padding-right:16px;
    width: 628px;
    margin-bottom: 16px;
    padding-bottom: 14px;
    padding-top:20px;
    border-radius:2px;
}

.day-text
{
    font-family:"Roboto Condensed", sans-serif;
    font-size:28px;
    margin-bottom: 20px;
    color:#ed462f;
}

.event-field
{
    width:616px;
    background-color: #F5F5F5;
    margin-bottom: 6px;
    padding-left:12px;
    padding-top:14px;
    padding-bottom:20px;
    border-radius:2px; 
}

.event-name
{
    font-family:"Roboto Condensed", sans-serif;
    font-size:24px;
    font-weight:400;
    color:#525455;
}

.event-detail
{
    margin-top:12px;
    font-family:"Roboto Condensed", sans-serif;
    font-size:18px;
    font-weight:300;
    color:#676c6d;
    height: 24px;
}

.event-time
{
    float: left;
    padding-left:34px;
    height:24px;
    background: url("/media/res/icon_event_time.png") left top no-repeat;
}

.event-location
{
    margin-left: 180px;
    padding-left: 34px;
    height:24px;
    background: url("/media/res/icon_event_map.png") left top no-repeat;
}

.day-show
{
    background-color: #FFFFFF;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:12px;
}

.day-click
{
    width:240px;
    margin-top:5px;
    padding-left:12px;
    background-color: #F5F5F5;
    height:40px;
    line-height:40px;
    text-align:left;
    border-radius:2px;
}

.day-detail
{
    float:left;
    width:228px;
    font-family:"Roboto",sans-serif;
    font-size:20px;
    font-weight:300;
    color:#a1a0a0; 
    background: url("/media/res/img_anchor.png") right 50% no-repeat;
}
