/* block right */
.video-item
{
    background-color: #FFFFFF;
    padding: 20px 16px;
    margin-bottom: 16px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.video-event-info
{
    display: block;
    margin-bottom: 10px;
}

.video-title
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 36px;
    font-weight: 400;
    vertical-align: middle;
    color: #525455;
    display: inline-block;
}

.video-event
{
    font-family: "Roboto", serif;
    font-size: 24px;
    line-height: 24px;
    color: #9FA5A5;
    display: inline-block;
    float: left;
}

.video-time
{
    font-family: "Roboto Light", serif;
    font-size: 18px;
    line-height: 24px;
    color: #BDBDBD;
    display: inline-block;
    float: right;
}

.video-area
{
    text-align: center;
}

/* block leftdown */
#video-lister
{
    background-color: #FFFFFF;
    padding: 10px;
}

.lister-selector
{
   margin-top: 10px; 
}

.title
{
    
}

.criterion
{
    background-color: #E8E8E8;
    margin-bottom: 5px;
    padding: 10px;
    color: #808080;
}

.video-click-img
{
    float: right;
    margin-right: 10px;
}
