{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/board.css">
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.timeago.js"></script>
<script>
    $(document).ready(function() {
        $("abbr.timeago").timeago();
    });
</script>
{% endblock %}

{% block right %}
<div class="board-container">
    <p class="board-title">Apply for 2016 KAIST-POSTECH Science-War Supporters!</p>
    <a href="/board/write/" class="board-button right">Apply</a>
    <table class="board-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for content in contents %}
            <tr>
                <td>{{ content.id }}</td>
                <td>{{ content.title }}</td>
                <td>
                    <abbr class="timeago" title={{ content.time|date:"c" }}>{{ content.time }}</abbr>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
	<ul class="paging-container">
		<script type="text/javascript">
			var page_no = {{ page_no }};
			if (parseInt((page_no-1) / 10) > 0) {
				document.write("<li><a href=\'?content_no=" + (parseInt((page_no-1) / 10)*10 - 10) * 20 + "\' class=\'paging-next-pagegroup-btn\'>" + '<<' + "</a></li>");
			}
			else {
				document.write("<li><a href=\'?content_no=0\' class=\'paging-prev-pagegroup-btn\'>" + '<<' + "</a></li>");
			}
			for (page = parseInt((page_no-1) / 10)*10; page < parseInt((page_no-1) / 10)*10 + 10; page++) {
				if (page >= {{ total_page }}) {
					break;
				}
				if (page == page_no-1) {
					document.write("<li><a href=\'?content_no=" + page * 20 + "\' class=\'paging paging-active\'>" + (page+1) + "</a></li>");
				}
				else {
					document.write("<li><a href=\'?content_no=" + page * 20 + "\' class=\'paging\'>" + (page+1) + "</a></li>");
				}
			}
			if (parseInt((page_no-1) / 10)*10 + 10 < {{ total_page }}) {
				document.write("<li><a href=\'?content_no=" + (parseInt((page_no-1) / 10)*10 + 10) * 20 + "\' class=\'paging-next-pagegroup-btn\'>" + '>>' + "</a></li>");
			}
			else {
				document.write("<li><a href=\'?content_no=" + ({{ total_page }} - 1) * 20 + "\' class=\'paging-next-pagegroup-btn\'>" + '>>' + "</a></li>");
			}
		</script>
	</ul>
</div>
</div>
{% endblock %}
