{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/board.css">
{% endblock %}

{% block script %}
{% endblock %}

{% block right %}
<div class="board-container">
    <a href="/board/write/" class="board-button right">Apply</a>
    <table class="board-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>Test</td>
                <td>N/A</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}
