{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/index.css">
{% endblock %}

{% block leftdown %}
    <section class="today-schedule">
        <h2>TODAY</h2>
        <ul class="list">
            <li class="now">
                <h4>Prof. Soccer</h4>
                <p>12:00</p>
            </li>
            <li>
                <h4>Basketball</h4>
                <p>15:30</p>
            </li>
            <li>
                <h4>A.I.</h4>
                <p>17:15</p>
            </li>
            <li>
                <h4>LoL</h4>
                <p>20:00</p>
            </li>
        </ul>
    </section>
{% endblock %}

{% block right %}
    <article class="live">
        <span class="status">Live</span>
        <span class="time">12:00 - 15:15</span>
        <h2 class="event">Prof. Soccer</h2>
        <p class="comment">Prof.Soccer is the contest with professors at KAIST and POSTECH. And they do soccer game, then play with students.</p>
        <section class="kaist-score">
            <h4>KAIST</h4>
            <p>2</p>
            <button class="flip">hide</button>
        </section>
        <section class="postech-score">
            <h4>POSTECH</h4>
            <p>365</p>
            <button class="flip">hide</button>
        </section>
        <section class="map">
            <h4>Front of N3, Main Playground</h4>
            <p>
                <span class="map-pin">here</span>
                <img class="map-image" src="{{MEDIA_URL}}res/asdf.png">
            </p>
        </section>
        <section class="players">
        <h4></h4>
        </section>
    </article>
    <ul class="event-list">
        <li class="hacking">
            <h2>Hacking Contest</h2>
            <span class="info">
                <p class="time">13:00 - 15:00</p>
                <p class="map">N3, Sports Complex</p>
            </span>
            <span class="score">
                <p class="kaist">2</p>
                <p class="postech">32</p>
            </span>
        </li>
        <li class="basketball">
            <h2>Basketball</h2>
            <span class="info">
                <p class="time">14:00 - 17:00</p>
                <p class="map">N3, Sports Complex</p>
            </span>
            <span class="score">
                <p class="kaist">132</p>
                <p class="postech">96</p>
            </span>
        </li>
    </ul>
{% endblock %}
