{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/index.css">
{% endblock %}

{% block home %}sel{% endblock %}

{% block leftdown %}
    <section class="today-schedule">
        <h2>TODAY</h2>
        <ul class="list">
            {% for event_title, event_time in today_events.items %}
            <li{% if current_event.name == event_title %} class="now"{% endif %}>
                <h4>{{ event_title }}</h4>
                <p>{{ event_time|time:"H:i" }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block right %}
    {% if current_event %}
    <article class="live">
        <span class="status">Live</span>
        <span class="time">{{ current_event.start_time|time:"H:i" }} - {{ current_event.end_time|time:"H:i" }}</span>
        <h2 class="event"><a href="#">{{ current_event.name }}</a></h2>
        <p class="comment">{{ current_event.description }}</p>
        {% if current_event.is_competition %}
        <section class="kaist-score">
            <h4>KAIST</h4>
            <p>{{ current_event.kaist_score }}</p>
        </section>
        <section class="postech-score">
            <h4>POSTECH</h4>
            <p>{{ current_event.postech_score }}</p>
        </section>
        {% endif %}
        <section class="map">
            <button class="flip-hide">hide</button>
            <h4>{{ current_event.building }}</h4>
            <p>
                <img class="map-image" src="{{MEDIA_URL}}res/map_{{ current_event.building }}.png">
            </p>
        </section>
        {% if current_event.is_competition %}
        <section class="players">
            <button class="flip-show">hide</button>
            <h4>Players Information</h4>
        </section>
        {% endif %}
    </article>
    {% endif %}
    <ul class="event-list">
        {% for event in other_events %}
        <li class="event-item{% if event.end_time < current_time %} finished{% endif %}">
            <h2><a href="#">{{ event.name }}</a></h2>
            <span class="info">
                <p class="time">{{ event.start_time|time:"H:i" }} - {{ event.end_time|time:"H:i" }}</p>
                <p class="map">{{ event.building }}</p>
            </span>
            {% if event.is_competition %}
            <span class="score">
                <p class="kaist">{{ event.kaist_score }}</p>
                <p class="postech">{{ event.postech_score }}</p>
            </span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
