{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/index.css">
{% endblock %}

{% block leftdown %}
    <section class="today-schedule">
        <h2>TODAY</h2>
        <ul class="list">
            {% for event_title, event_time in today_events.items %}
            <li{% if current_event.name == event_title %} class="now"{% endif %}>
                <h4>{{ event_title }}</h4>
                <p>{{ event_time|time:"H:i" }}</p>
            </li>
            {% endfor %}
            <!--
            <li class="now">
                <h4>Prof. Soccer</h4>
                <p>12:00</p>
            </li>
            <li>
                <h4>Basketball</h4>
                <p>15:30</p>
            </li>
            <li>
                <h4>A.I.</h4>
                <p>17:15</p>
            </li>
            <li>
                <h4>LoL</h4>
                <p>20:00</p>
            </li>
            -->
        </ul>
    </section>
{% endblock %}

{% block right %}
	{% if current_event %}
    <article class="live">
		<span class="status">Live</span>
        <span class="time">{{ current_event.start_time|time:"H:i" }} - {{ current_event.start_time|time:"H:i" }}</span>
        <h2 class="event">{{ current_event.name }}</h2>
		<p class="comment">{{ current_event.description }}</p>
		{% if current_event.is_competition %}
        <section class="kaist-score">
            <h4>KAIST</h4>
			<p>{{ current_event.kaist_score }}</p>
        </section>
        <section class="postech-score">
            <h4>POSTECH</h4>
			<p>{{ current_event.postech_score }}</p>
        </section>
		{% endif %}
        <section class="map">
            <button class="flip">hide</button>
			<h4>{{ current_event.building }}</h4>
            <p>
                <span class="map-pin">here</span>
                <img class="map-image" src="{{MEDIA_URL}}res/asdf.png">
            </p>
        </section>
		{% if current_event.is_competition %}
        <section class="players">
            <button class="flip">hide</button>
            <h4>Players Information</h4>
        </section>
		{% endif %}
    </article>
	{% endif %}
    <ul class="event-list">
		{% for event in other_events %}
        <li class="hacking">
			<h2>{{ event.name }}</h2>
            <span class="info">
        		<p class="time">{{ event.start_time|time:"H:i" }} - {{ event.start_time|time:"H:i" }}</p>
				<p class="map">{{ event.building }}</p>
            </span>
			{% if event.is_competition %}
            <span class="score">
				<p class="kaist">{{ event.kaist_score }}</p>
				<p class="postech">{{ event.postech_score }}</p>
            </span>
			{% endif %}
        </li>
		{% endfor %}
    </ul>
{% endblock %}
