{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/info.css">
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{STATIC_URL}}js/info.js"></script>
{% endblock %}

{% block initialize %}
InformationList.initialize();
SortList.initialize();
{% endblock %}

{% block info %}sel{% endblock %}
{% block leftdown %}
<div class="info-show">
	<div class="info-standard">
		SORT BY
	</div>
	<div class="info-click" onclick="SortList.updateInfo('all', 0)">
		<div class="info-detail">
			ALL
		</div>
		<div class="info-click-img">
		</div>
	</div>
	<div class="info-click" onclick="SortList.updateInfo('notice',1 )">
		<div class="info-detail">
			NOTICE
		</div>
		<div class="info-click-img">
		</div>
	</div>
	<div class="info-click" onclick="SortList.updateInfo('information', 2)">
		<div class="info-detail">
			INFORMATION
		</div>
		<div class="info-click-img">
		</div>
	</div>
</div>
{% endblock %}
