<!DOCTYPE HTML>
<html>
    <head>
        <title>2013 Science War</title>
        <!-- META DATA -->
        <meta charset="utf-8">
        <meta name="description" content="2013 Science War between KAIST and POSTECH">
        <meta name="keywords" content="science, war, kaist, postech, 2013">
        <meta name="author" content="SPARCS, webmaster@sparcs.org">
        <!-- FONT FROM GOOGLE FONTS -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
        <!-- STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/common.css">
        {% block style %}{% endblock %}
        <!-- SCRIPTS -->
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/layout.js"></script>
        {% block script %}{% endblock %}
        <!-- SCRIPT INITIALIZATION -->
        <script type="text/javascript">
            $(document).ready(function(){
                Creators.initialize();
                {% block initialize %}{% endblock %}

                // Hear beat for live users count 
                var heartbeat = function(){
                    $.ajax({type:"GET",url:"/heartbeat",success:function(data){
                        setTimeout(function(){
                                heartbeat();
                                },1000*60);
                        }});
                    };
                heartbeat();
            });
        </script>
    </head>
    <body>
        <!-- HEADER -->
        <header id="header">
            <div id="header-content">
                <h1 id="logo" class="{% block home %}{% endblock %}">
                    <a id="nav-home" href="/">2013 Science War</a>
                    <span></span>
                </h1>
                <nav id="nav">
                <a id="nav-info" class="{% block info %}{% endblock %}"href="/info/">Info</a>
                    <a id="nav-schedule" class="{% block schedule %}{% endblock %}" href="/schedule/">Schedule</a>
                    <a id="nav-map" class="{% block map %}{% endblock %}" href="/map/">Map</a>
                    <a id="nav-video" class="{% block video %}{% endblock %}" href="/video/">Video</a>
                </nav>
            </div>
        </header>
        <div id="wrapper">
            <!-- ASIDE -->
            <aside id="aside">
                <div id="total-score">
                    <section class="kaist">
                        <h2>KAIST</h2>
                        <p>{{ state.KAIST }}</p>
                    </section>
                    <section class="postech">
                        <h2>POSTECH</h2>
                        <p>{{ state.POSTECH }}</p>
                    </section>
                    <section class="process">
                        <h2>PROCESS</h2>
                        <p>{{ state.DONE }}/{{ state.ALL }} COMPLETED</p>
                    </section>
                </div>
                <!-- ASIDE OPTION -->
                <div id="option">
                    <!-- ASIDE OPTION CONTENT -->
                    {% block leftdown %}{% endblock %}
                </div>
                <!-- GOD OF THIS SITE -->
                <div id="creators">
                    <h2>POWERED BY <em><a href="http://sparcs.org">SPARCS</a></em></h2>
                    <p class="time">2^6 consecutive hours</p>
                    <p class="map">N10, Branch Library</p>
                    <div class="developers">
                        <span>Developers</span>
                        <button class="flip-show"></button>
                        <ul class="list">
                            <li><a href="http://fb.com/heretor92">Jong-hyuk, Jung</a></li>
                            <li><a href="http://fb.com/boolgom">Kyum-in, Sim</a></li>
                            <li><a href="http://fb.com/ultrasuperpower">Seok-ju, Hong</a></li>
                            <li><a href="http://fb.com/etaehyun4">Tae-hyun, Lee</a></li>
                            <li>Doo-hyun, Kim</li>
                            <li><a href="http://fb.com/chiyah92">Chang-won, Lee</a></li>
                            <li>Jae-eui, Ma</li>
                            <li><a href="http://rodumani.kr">Chang-je, Jeong</a></li>
                            <li><a href="http://fb.com/ot8844">Gi-hoon, Yum</a></li>
                            <li>Jun-seong, Lee</li>
                        </ul>
                    </div>
                    <div class="designers">
                        <span>Designers</span>
                        <button class="flip-show"></button>
                        <ul class="list">
                            <li><a href="https://www.facebook.com/heretor92">Jong-Hyuk, Jung</a></li>
                            <li>Ji-hyang, Bak</li>
                            <li>Dong-jae, Lee</li>
                        </ul>
                    </div>
                    <p class="activeuser">Now Online : {{ state.live }}</p> 
                </div>
            </aside>
            <!-- CONTENT -->
            <div id="content">
                <!-- CONTENT CONTENT -->
                {% block right %}{% endblock %}
            </div>
        </div>
    </body>
</html>
