<!DOCTYPE HTML>
<html>
    <head>
        <title>2013 Science War</title>
        <!-- META DATA -->
        <meta charset="utf-8">
        <meta name="description" content="2013 Science War between KAIST and POSTECH">
        <meta name="keywords" content="science, war, kaist, postech, 2013">
        <meta name="author" content="SPARCS, webmaster@sparcs.org">
        <!-- FONT FROM GOOGLE FONTS -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
        <!-- STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/common.css">
        {% block style %}{% endblock %}
        <!-- SCRIPTS -->
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
        {% block script %}{% endblock %}
        <!-- SCRIPT INITIALIZATION -->
        <script type="text/javascript">
            $(document).ready(function(){
                {% block initialize %}{% endblock %}
            });
        </script>
    </head>
    <body>
        <!-- HEADER -->
        <header id="header">
            <div id="header-content">
                <h1 id="logo">
                    <a id="nav-home" href="/">2013 Science War</a>
                    <span>ON AIR</span>
                </h1>
                <nav id="nav">
                <a id="nav-info" class="{% block info %}{% endblock %}"href="/info/">Info</a>
                    <a id="nav-schedule" class="{% block schedule %}{% endblock %}" href="/schedule/">Schedule</a>
                    <a id="nav-map" class="{% block map %}{% endblock %}" href="/map/">Map</a>
                    <a id="nav-video" class="{% block video %}{% endblock %}" href="/video/">Video</a>
                </nav>
            </div>
        </header>
        <div id="wrapper">
            <!-- ASIDE -->
            <aside id="aside">
                <div id="total-score">
                    <section class="kaist">
                        <h2>KAIST</h2>
                        <p>{{ state.KAIST }}</p>
                    </section>
                    <section class="postech">
                        <h2>POSTECH</h2>
                        <p>{{ state.POSTECH }}</p>
                    </section>
                    <section class="process">
                        <h2>PROCESS</h2>
                        <p>{{ state.DONE }}/{{ state.ALL }} COMPLETED</p>
                    </section>
                </div>
                <!-- ASIDE OPTION -->
                <div id="option">
                    <!-- ASIDE OPTION CONTENT -->
                    {% block leftdown %}{% endblock %}
                </div>
            </aside>
            <!-- CONTENT -->
            <div id="content">
                <!-- CONTENT CONTENT -->
                {% block right %}{% endblock %}
            </div>
        </div>
    </body>
</html>
