<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>2013 Science War</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link href="main.css" rel="stylesheet" media="screen">
    </head>
    
    <body>
        <script src="http://code.jquery.com/jquery.js"></script>
		<div id="top">
			<div id="titleimg">
				<img id="title" src=url("title.png")/>
			</div>
			<div id="tab">
			<div id="tab-info"> INFO </div>
			<div id="tab-score"> SCORE </div>
			</div>
		</div>
		
		</div>
        <div class="border"></div>
		<div id="totalscore">
			<div id="KAISTtotalscore" class="total">
				<div id="KAIST" class="total">
					<span style="color: #2454A5"> KAIST </span>
				</div>
				<div class="score">
					0
				</div>
			</div>
			<hr id="verse">
			<div id="POSTECHtotalscore" class="total">
					<div id="POSTECH" class="total">					
						<span style="color: #C90060"> POSTECH </span>
					</div>
					<div class="score">
						0
					</div>
			</div>
		</div>
		<div id="botborder" class="border"></div>

		
        <div id="container">
            <br/>
            <!-- <img id="up_img" src="Resource/Upcoming.png"/>
            <div id="up">
                <table>
                    <tr><td>해킹</td><td>Schedule, place</td></tr>
                    <tr><td><img src="Resource/hacking_removed.png"><img/></td><td>map goes here.</td></tr>
                </table>
            </div> -->
            <img id="up_img" src="Resource/9.26.png"/>
            <div id="up">
                <div id="hacking" class="match">
                    <div class="score">00</div> <!-- 스코어 카이스트/포스텍 각각 마진쑤셔박기 단위 미확정이라 남겨둠. -->
                    <!-- max < 10^3 -->
                </div>
            </div>
            <img id="up_img" src="Resource/9.27.png"/>
            <div id="up">
                <ul>
                    <li>
                        <div id="prof_soccer" class="match">
                            <div class="score">00</div>
                        </div>
                    </li>
                    <li>
                        <div id="basketball" class="match">
                            <div class="score">00</div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div id="ai" class="match">
                            <div class="score">00</div>
                        </div>
                    </li>
                    <li>
                        <div id="lol" class="match">
                            <div class="score">00</div>
                        </div>
                    </li>
                </ul>
            </div>
            <img id="up_img" src="Resource/9.28.png"/>
            <div id="up">
                <ul>
                    <li>
                        <div id="baseball" class="match">
                            <div class="score">00</div>
                        </div>
                    </li>
                    <li>
                        <div id="sciencequiz" class="match">
                            <div class="score">00</div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div id="soccer" class="match">
                            <div class="score">00</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <!-- <div class="score">0123456</div> -->

        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <!-- 지금 이게 br로 떡칠한다고 해결될 문제가 아닌 것 같음. 헬프요청! -->
        <div id="footer">
            
        </div>
    </body>
</html>
