{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/map.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{STATIC_URL}}js/map.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		map.initialize();
	});
</script>
{% endblock %}
{% block map %}sel{% endblock %}
{% block right %}
<div class="map-field">
	<div class="map-title">
		KAIST CAMPUS MAP
	</div>
	<div class="map-image map-image-full">
		<!-- CAMPUS MAP IMAGE -->
		<div class="map-marker" id="map-marker-main_field">
			<img class="map-marker-red" id="map-marker-main_field-red" src="{{MEDIA_URL}}res/marker_red.png">
			<img class="map-marker-blue" id="map-marker-main_field-blue" src="{{MEDIA_URL}}res/marker.png">
		</div>
		<div class="map-marker" id="map-marker-sports_complex">
			<img class="map-marker-red" id="map-marker-sports_complex-red" src="{{MEDIA_URL}}res/marker_red.png">
			<img class="map-marker-blue" id="map-marker-sports_complex-blue" src="{{MEDIA_URL}}res/marker.png">
		</div>
		<div class="map-marker" id="map-marker-sub_field">
			<img class="map-marker-red" id="map-marker-sub_field-red" src="{{MEDIA_URL}}res/marker_red.png">
			<img class="map-marker-blue" id="map-marker-sub_field-blue" src="{{MEDIA_URL}}res/marker.png">
                </div>
		<div class="map-marker" id="map-marker-main_building">
			<img class="map-marker-red" id="map-marker-main_building-red" src="{{MEDIA_URL}}res/marker_red.png">
			<img class="map-marker-blue" id="map-marker-main_building-blue" src="{{MEDIA_URL}}res/marker.png">
		</div>
	</div>
</div>
<div class="map-field">
	<div class="map-title" id="zoom-title">
		ZOOMED MAP
	</div>
	<div class="map-image" id="zoom-image" >
		<!-- ZOOMED MAP IMAGE -->
	</div>
</div>
{% endblock %}
{% block leftdown %}
<div id="event-list-pane">
	<div id="event-list-title">
		EVENTS
	</div>
        <div id="event-item-pane">
                    <!-- ADD EVENTS HERE -->
		<div class="event-item" id="event-opening_ceremony" onmouseover="map.color(1)">
                        OPENING CEREMONY
                        <div class="map-click-img">
                        </div>
                </div>
                <div class="event-item" id="event-beer_party" onmouseover="map.color(2)">
			BEER PARTY
                        <div class="map-click-img">
                        </div>
                       
                </div>

                <div class="event-item" id="event-soccer" onmouseover="map.color(3)">
			SOCCER 
                        <div class="map-click-img">
                        </div>                   
                </div>
		<div class="event-item" id="event-basketball" onmouseover="map.color(4)">
			BASKETBALL
 
                        <div class="map-click-img">
                        </div>                   
                </div>
		<div class="event-item" id="event-baseball" onmouseover="map.color(5)">
			BASEBALL
 
                        <div class="map-click-img">
                        </div>                   
                </div>
                <div class="event-item" id="event-science_quiz" onmouseover="map.color(6)">
			SCIENCE QUIZ
 
                        <div class="map-click-img">
                        </div>                   
                </div>
                <div class="event-item" id="event-league_of_legends" onmouseover="map.color(7)">
			LEAGUE OF LEGENDS
 
                        <div class="map-click-img">
                        </div>                   
                </div>
                <div class="event-item" id="event-ai" onmouseover="map.color(8)">
			A.I.
 
                        <div class="map-click-img" >
                        </div>                   
                </div>
                <div class="event-item" id="event-closing_ceremony" onmouseover="map.color(9)">
			CLOSING CEREMONY
 
                        <div class="map-click-img">
                        </div>                   
                </div>


	</div>
</div>

{% endblock %}
