{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/map.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{STATIC_URL}}js/map.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		map.initialize();
	});
</script>
{% endblock %}
{% block map %}sel{% endblock %}
{% block right %}
<div class="map-field">
	<div class="map-title">
		KAIST CAMPUS MAP
	</div>
	<div class="map-image map-image-full">
		<!-- CAMPUS MAP IMAGE -->
		<div class="map-marker" id="map-marker-main_field">
			<img class="map-marker-red" id="map-marker-main_field-red" src="{{MEDIA_URL}}res/marker_red.png">
			<img class="map-marker-blue" id="map-marker-main_field-blue" src="{{MEDIA_URL}}res/marker.png">
		</div>
		<div class="map-marker" id="map-marker-sports_complex">
			<img class="map-marker-red" id="map-marker-sports_complex-red" src="{{MEDIA_URL}}res/marker_red.png">
			<img class="map-marker-blue" id="map-marker-sports_complex-blue" src="{{MEDIA_URL}}res/marker.png">
		</div>
		<div class="map-marker" id="map-marker-sub_field">
			<img class="map-marker-red" id="map-marker-sub_field-red" src="{{MEDIA_URL}}res/marker_red.png">
			<img class="map-marker-blue" id="map-marker-sub_field-blue" src="{{MEDIA_URL}}res/marker.png">
		</div>
		<!-- ZOOM BUTTON -->
		<div id="map-button">
			button
		</div>
	</div>
</div>
<div class="map-field">
	<div class="map-title">
		ZOOMED MAP
	</div>
	<div class="map-image">
		<!-- ZOOMED MAP IMAGE -->
		HERE COMES ZOOMED MAP
	</div>
</div>
{% endblock %}
{% block leftdown %}
<div id="event-list-pane">
	<div id="event-list-title">
		EVENTS
	</div>
        <div id="event-item-pane">
                    <!-- ADD EVENTS HERE -->
		<div class="event-item" id="event-opening_ceremony" >
                        OPENING CEREMONY
                        <div class="map-click-img">
                        </div>
                </div>
                <div class="event-item" id="event-beer_party" >
			BEER PARTY
                        <div class="map-click-img">
                        </div>
                       
                </div>

                <div class="event-item" id="event-soccer" >
			SOCCER 
                        <div class="map-click-img">
                        </div>                   
                </div>
		<div class="event-item" id="event-basketball" >
			BASKETBALL
 
                        <div class="map-click-img">
                        </div>                   
                </div>
		<div class="event-item" id="event-baseball">
			BASEBALL
 
                        <div class="map-click-img">
                        </div>                   
                </div>
                <div class="event-item" id="event-science_quiz" >
			SCIENCE QUIZ
 
                        <div class="map-click-img">
                        </div>                   
                </div>
                <div class="event-item" id="event-league_of_legends" >
			LEAGUE OF LEGENDS
 
                        <div class="map-click-img">
                        </div>                   
                </div>
                <div class="event-item" id="event-ai">
			A.I.
 
                        <div class="map-click-img" >
                        </div>                   
                </div>
                <div class="event-item" id="event-closing_ceremony" >
			CLOSING CEREMONY
 
                        <div class="map-click-img">
                        </div>                   
                </div>


	</div>
</div>

{% endblock %}
