{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/schedule.css">
{% endblock %}
{% block schedule %}sel{% endblock %}
{% block right %}
<div class="day-field">
    <div class="day-text">
        <!-- FONT COLOR MAY CHANGE -->
        SEP 26
    </div>
    <div class="event-field">
        <div class="event-name">
            FESTIVAL EVE
        </div>
        <div class="event-detail">
            <div class="event-time">
                <!-- CLOCK IMAGE COMES HERE -->
                13:00 - 15:00
            </div>
            <div class="event-location">
                <!-- LOCATION IMAGE COMES HERE -->
                N3, Sports Complex
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block leftdown %}
<div class="day-show">
	<div class="day-click">
		<div class="day-detail">
			SEP 26
		</div>
		<div class="day-click-img">
			>
		</div>
	</div>
	<div class="day-click">
		<div class="day-detail">
			SEP 27
		</div>
		<div class="day-click-img">
			>
		</div>
	</div>
	<div class="day-click">
		<div class="day-detail">
			SEP 28
		</div>
		<div class="day-click-img">
			>
		</div>
	</div>

</div>
{% endblock %}
