{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/schedule.css">
{% endblock %}
{% block schedule %}sel{% endblock %}
{% block script %}
<script type="text/javascript" src="{{STATIC_URL}}js/schedule.js"></script>
{% endblock %}

{% block initialize %}
DayList.initialize();
DayList.color({{today_date}});
DayList.update({{today_date}},0);
{% endblock %}

{% block right %}

<a name="frag0" id="frag0"></a>
{% for date in events %}
	{% with n=forloop.counter|stringformat:"s" %}
	{% with frag="frag"|add:n %}
	<div class="day-field">
		<div class="day-text">
			{{ date.date }}
		</div>
		{% for event in date.events %}
			<div class="event-field">
				<div class="event-name">
					{{event.name}}
				</div>
				<div class="event-detail">
					<div class="event-time">
						{{event.start_time|time:"H:i"}} - {{event.end_time|time:"H:i"}}
					</div>
					<div class="event-location">
						{{event.location}}
					</div>	
				</div>
			</div>
		{% endfor %}
	</div>
	<a name={{frag}} id={{frag}}></a>
	{% endwith %}
	{% endwith %}
{% endfor %}

{% endblock %}
{% block leftdown %}
<div class="day-show">
	{% for date in events %}
	<div class="day-click" onmouseover="DayList.color({{forloop.counter}})" onclick="DayList.update({{forloop.counter}},1)">
		<div class="day-detail">
			{{ date.date }}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
