{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/schedule.css">
{% endblock %}
{% block schedule %}sel{% endblock %}
{% block right %}

{% for date in events %}
	<div class="day-field">
		<div class="day-text">
			{{ date.date }}
		</div>
		{% for event in date.events %}
			<div class="event-field">
				<div class="event-name">
					{{event.name}}
				</div>
				<div class="event-detail">
					<div class="event-time">
						<!-- CLOCK IMAGE COMES HERE -->
						{{event.start_time}} - {{event.end_time}}
					</div>
					<div class="event-location">
						<!-- LOCATION IMAGE COMES HERE -->
						{{event.location}}
					</div>	
				</div>
			</div>
		{% endfor %}
	</div>
{% endfor %}

{% endblock %}
{% block leftdown %}
<div class="day-show">
	{% for date in events %}
	<div class="day-click">
		<div class="day-detail">
			{{ date.date }}
		</div>
		<div class="day-click-img">
			>
		</div>
	</div>
	{% endfor %}

</div>
{% endblock %}
