{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/video.css">
{% endblock %}
{% block video %}sel{% endblock %}
{% block right %}
<div class="video-item">
    <div class="video-info">
        <div class="video-title">
            Video Title
        </div>
        <div class="video-event-info">
            <div class="video-event">
                Event Name
            </div>
            <div class="video-time">
                Event Time
            </div>
        </div>
    </div>
    <div class="video-area">
        <iframe width="420" height="345"
            src="http://www.youtube.com/embed/CM-3W_QXan8">
        </iframe>
    </div>
    <div class="video-link">
        <a href="http://www.youtube.com/watch?v=CM-3W_QXan8">Video Link</a>
    </div>
</div>
{% endblock %}
{% block leftdown %}
<div id="video-lister">
	<div class="lister-selector">
		<div class="title">
			SORT BY
		</div>
		<div class="criterion">
			DATE
		</div>
	</div>
	<div class="lister-selector">
		<div class="title">
			EVENTS
		</div>
		<div class="criterion">
			ALL
		</div>
		<!-- EVENT LIST COMES HERE -->
		<div class="criterion">
			SOCCER
		</div>
		<div class="criterion">
			BASKETBALL
		</div>
		<div class="criterion">
			BASEBALL
		</div>
		<div class="criterion">
			HACKING
		</div>
		<div class="criterion">
			SCIENCE QUIZ
		</div>
		<div class="criterion">
			LEAGUE OF LEGENDS
		</div>
		<div class="criterion">
			A.I.
		</div>
	</div>
</div>
{% endblock %}
